{#
# -------------------------------------------------------------------------
# Resources plugin for GLPI
# -------------------------------------------------------------------------
#
# LICENSE
#
# This file is part of Resources.
#
# Resources is free software; you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation; either version 2 of the License, or
# (at your option) any later version.
#
# Resources is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with Resources. If not, see <http://www.gnu.org/licenses/>.
# -------------------------------------------------------------------------
# @copyright Copyright (C) 2026-2026 by Resources plugin team.
# @license   GPLv2 https://www.gnu.org/licenses/gpl-2.0.html
# @link      https://github.com/InfotelGLPI/Resources
# -------------------------------------------------------------------------
#}

{% import 'components/form/basic_inputs_macros.html.twig' as inputs %}
{% import 'components/form/fields_macros.html.twig' as fields %}

{% set rand = random() %}
{% set field_options = {
    'field_class': 'col-4',
} %}
{% if can_edit %}
    <form method="post" action="{{ params["target"] }}" {{ formoptions ?? '' }} enctype="multipart/form-data" data-submit-once>
        <div class="card">
{#            <div class="card-header">#}
                <h3 class="card-title alert alert-secondary" style="margin-top: 10px;">
                        <span class="resources_wizard_resp_img">
                            <i class=" {{ params["icon"] }} "></i>&nbsp;
                            <img src=" {{ params["img"] }} ">&nbsp;
                            {{ params["title"] }}
                        </span>
                </h3>
{#            </div>#}
            <div class="card-body">
                <div class='card-text'>

                    <input type="hidden" name="more_information"
                           value="1"/>

                    {% if hidden.date_agreement_candidate is not defined %}
                        {% if item.isField('date_agreement_candidate') %}
                            {{ fields.datetimeField(
                                'date_agreement_candidate',
                                item.fields['date_agreement_candidate'],
                                __('Date agreement candidate', 'resources'),
                                {
                                    'required': mandatory.date_agreement_candidate is defined,
                                }
                            ) }}
                        {% endif %}
                    {% endif %}
                    {# {{ dump(hidden) }} #}
                    {% if hidden.plugin_resources_degreegroups_id is not defined %}
                        {% if item.isField('plugin_resources_degreegroups_id') %}
                            {{ fields.dropdownField(
                                "GlpiPlugin\\Resources\\DegreeGroup",
                                "plugin_resources_degreegroups_id",
                                item.fields['plugin_resources_degreegroups_id'],
                                "GlpiPlugin\\Resources\\DegreeGroup"|itemtype_name,
                                {
                                    'required': mandatory.plugin_resources_degreegroups_id is defined,
                                }
                            ) }}
                        {% endif %}
                    {% endif %}

                    {% if hidden.plugin_resources_recruitingsources_id is not defined %}

                        {% if item.isField('plugin_resources_recruitingsources_id') %}
                            {{ fields.dropdownField(
                                "GlpiPlugin\\Resources\\RecruitingSource",
                                "plugin_resources_recruitingsources_id",
                                item.fields['plugin_resources_recruitingsources_id'],
                                "GlpiPlugin\\Resources\\RecruitingSource"|itemtype_name,
                                {
                                    'required': mandatory.plugin_resources_recruitingsources_id is defined,
                                }
                            ) }}
                        {% endif %}
                    {% endif %}
                    {% if hidden.yearsexperience is not defined %}
                        {% if item.isField('yearsexperience') %}
                            {{ fields.numberField(
                                "yearsexperience",
                                item.fields['yearsexperience'],
                                __('Number of years experience','resources'),
                                {
                                    'required': mandatory.yearsexperience is defined,
                                }
                            ) }}
                        {% endif %}
                    {% endif %}

                    {% if hidden.reconversion is not defined %}
                        {% if item.isField('reconversion') %}
                            {{ fields.dropdownYesNo('reconversion',
                                item.fields['reconversion'],
                                __('Reconversion','resources'),
                                {
                                    'field_class': 'col-12 col-sm-6',
                                    'required': mandatory.reconversion is defined,
                                }) }}

                        {% endif %}
                    {% endif %}
                    <div class="hr mt-3 mb-3"></div>
                    {% if params["default_button"] is defined and params["default_button"] ==1 %}
                        {{ include('components/form/buttons.html.twig') }}
                    {% else %}
                        <div class="hstack gap-1">
                            <div class="pe-5 ms-auto">
                                {{ inputs.hidden('plugin_resources_resources_id', params["plugin_resources_resources_id"]) }}
                                {{ inputs.hidden('id', params["id"]) }}
                                {{ inputs.hidden('withtemplate', 0) }}
                                {{ inputs.hidden('_glpi_csrf_token', csrf_token()) }}

                                {% if can_purge %}
                                    {{ inputs.submit('cancel_request',
                                        _x('button', 'Cancel the request', 'resources'),
                                        1,
                                        {class: 'btn btn-danger ms-1',
                                            icon: 'ti ti-x'}) }}
                                {% endif %}
                                {{ inputs.submit('undo_eight_step',
                                    _x('button', 'Previous', 'resources'),
                                    1,
                                    {class: 'btn btn-primary ms-1',
                                        icon: 'ti ti-chevron-left'}) }}

                                {{ inputs.submit('nine_step',
                                    _x('button', 'Next', 'resources'),
                                    1,
                                    {class: 'btn btn-success ms-1',
                                        icon: 'ti ti-chevron-right'}) }}
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </form>
{% endif %}
